CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_FREERTOS_HZ=1000
CONFIG_SPI_FLASH_SUPPORT_BOYA_CHIP=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_RC_WIFI_CONTROL_ENABLED=y
CONFIG_RC_WIFI_AP_SSID="RC-Car-ESP32"
CONFIG_RC_WIFI_AP_PASSWORD="rc-car-viewer"
CONFIG_RC_WIFI_AP_CHANNEL=1
CONFIG_RC_WIFI_AP_MAX_CLIENTS=4
CONFIG_RC_WIFI_HTTP_PORT=80
